
<h1>New Event</h1>
<hr/>
<form role="form" name="newCourseForm" class="form-horizontal">
  <div class="form-group">
    <label for="courseName" class="col-sm-2 control-label">Course Name</label>
    <div class="col-sm-8">
      <input id="courseName" type="text" ng-model="course.name" required="" placeholder="Course Name" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="courseDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8">
      <textarea id="courseDescription" ng-model="course.description" required="" rows="6" placeholder="Course Description" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="courseLink" class="col-sm-2 control-label">Course Link</label>
    <div class="col-sm-8">
      <input id="courseLink" type="url" ng-model="course.link" required="" placeholder="http://test.com" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="coursePictureLink" class="col-sm-2 control-label">Course Image Link</label>
    <div class="col-sm-8">
      <input id="courseImageLink" type="url" ng-model="course.imageLink" required="" placeholder="http://test.com" class="form-control"/>
    </div>
  </div>
  <div ng-show="course.imageLink" class="form-group">
    <label for="courseImage" class="col-sm-2 control-label"></label>
    <div class="col-sm-8"><img id="courseImage" data-ng-src="{{course.imageLink}}"/></div>
  </div>
  <div class="form-group">
    <label for="courseStatus" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-2">
      <select id="courseStatus" ng-model="course.status" required="" class="form-control">
        <option value="">Choose Status</option>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done            </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="save(course, newCourseForm)" class="btn btn-primary">Save</button>
      <button type="submit" ng-click="cancel()" class="btn btn-default margin-left">Cancel</button>
    </div>
  </div>
</form>