a(href="#/course/{{course.id}}")
    div.well.hoverWell.hidden-xs
        div.row
            img.col-lg-2(data-ng-src="{{course.imageLink}}")
            h2.col-lg-10.course-header {{course.name}}
        div.row.padding-top
            span.col-lg-2 Description:
            span.col-lg-10.course-description {{course.description}}
        div.row
            span.col-lg-2 Status:
            span.col-lg-10 {{course.status}}

    div.well.hoverWell.visible-xs
        form.form-horizontal(role="form", name="courseForm")
            .form-group
                label.col-sm-2.control-label Course Name
                .col-sm-10
                    p.form-control-static {{course.name}}
            .form-group
                label.col-sm-2.control-label Description
                .col-sm-10
                    p.form-control-static {{course.description}}     
            .form-group
                .col-sm-10
                    img#courseImage(data-ng-src="{{course.imageLink}}")   
            .form-group
                label.col-sm-2.control-label Status
                .col-sm-10
                    p.form-control-static {{course.status}}
